{% extends 'subLayout.html.twig' %}

{% block title %}Daftar Pengguna{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title"><center>Daftar Pengguna</center></h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>No.HP</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set i = 1 %}
                                    {% if user|length > 0 %}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.alamat }}</td>
                                            <td>{{ user.noHp }}</td>
                                            <td>
                                                {% if user.isValidated == 0 %}
                                                    <span class="label label-danger">Belum Tervalidasi</span>
                                                {% else %}
                                                    <span class="label label-success">Tervalidasi</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs" title="Upusere Data"><i class="lnr lnr-user"></i></a>
                                                {#<a><button class="btn btn-primary"><i class="lnr lnr-user"></i></button></a>#}
                                                {#<button class="btn btn-warning"><i class="lnr lnr-users"></i></button>#}
                                                {#<button class="btn btn-danger"><i class="lnr lnr-trash"><a href="{{ path('irin_delete_user',{'id': user.id}) }}"></a></i></button>#}
                                            </td>
                                        </tr>
                                        {% set i = i + 1 %}
                                    {% else %}
                                            <tr>
                                                <td>tidak ada usera</td>
                                            </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}