{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel">
                <div class="panel-title">
                    <h2><center>Update Data User</center></h2>
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <p>Email</p>
                            <input type="email" name="email" id="" class="form-control" value="{% if data.email is defined %}{{ data.email }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <p>Nama</p>
                            <input type="text" name="nama" id="" class="form-control" value="{% if data.nama is defined %}{{ data.nama }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <p>Alamat</p>
                            <input type="text" name="alamat" id="" class="form-control" value="{% if data.alamat is defined %}{{ data.alamat }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <p>No.HP</p>
                            <input type="text" name="no-hp" id="" class="form-control" value="{% if data.noHp is defined %}{{ data.noHp }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <div class="img-avatar">
                                {% if data.profilePicture is null %}
                                    <img src="{{ asset('backend') }}/img/user-medium.png" height="250" class="img-responsive" align="center">
                                {% else %}
                                    <img src="{{ asset('uploads') }}/images/profile/{{ data.profilePicture }}" height="250" class="img-responsive" align="center">
                                {% endif %}
                                <input type="file" id="img-image" accept="image/*" class="hide" name="profile_picture" onchange="readURL(this);" value="{% if data.profilePicture is defined %}{{ data.profilePicture }}{% endif %}">

                                <label for="img-image" class="label-img">
                                    <br> <small>(rekomendasi file maximum 1MB & extension: .png,.jpg,.svg,.jpeg)</small>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">SIMPAN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var _thumb = $(input).parent().find('img');
                if (!_thumb.length) {
                    _thumb = $(input).parent().prev().find('img.img-responsive');
                }
                if (_thumb.length) {
                    var reader = new FileReader();
                    var height = _thumb.attr('height') || _thumb.height();
                    reader.onload = function (e) {
                        _thumb
                                .attr('src', e.target.result)
                                .width(height)
                                .css('object-fit', 'cover')
                                .height(height);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
    </script>
{% endblock %}