{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <p>Email</p>
                                <input type="email" name="email" class="form-control" value="{% if data.email is defined %}{{ data.email }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <p>Nama</p>
                                <input type="text" name="nama" class="form-control" value="{% if data.nama is defined %}{{ data.nama }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <p>Alamat</p>
                                <input type="text" name="alamat" class="form-control" value="{% if data.alamat is defined %}{{ data.alamat }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <p>No.HP</p>
                                <input type="text" name="no-hp" class="form-control" value="{% if data.noHp is defined %}{{ data.noHp }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <div class="img-avatar">
                                    {% if data.profilePicture is null %}
                                        <img src="{{ asset('backend') }}/img/user-medium.png" height="250" class="img-responsive" align="center" alt="">
                                    {% else %}
                                        <img src="{{ asset('uploads') }}/images/profile/{{ data.profile }}" height="250" class="img-responsive" alt="">
                                    {% endif %}
                                    <input type="file" id="img-image" name="profile_picture" class="hide" onchange="readURL(this);" accept="image/*" value="{% if data.profilePicture is defined %}{{ data.profilePicture }}{% endif %}">

                                    <label for="img-image" class="label-img">
                                        <br> <small>(rekomendasi file maximum 1MB & extension: .png,.jpg,.svg,.jpeg)</small>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">SIMPAN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div
{% endblock %}
{% block customJS %}
    <script>
        function readURL(input) {
            if(input.files && input.files[0]){
                var _thumb = $(input).parent().find('img');
                if(!_thumb.length){
                    _thumb = $(input).parent().prev().find('img.img-responsive');
                }
                if(_thumb.length) {
                    var reader = new FileReader();
                    var height = _thumb.height('height') || _thumb.height();
                    reader.onload = function (e) {
                        _thumb
                                .attr('src',e.target.result)
                                .width(height)
                                .css('object-fit','cover')
                                .height(height)
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
    </script>
{% endblock %}