{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Daftar Seluruh Pengguna</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <td>No.</td>
                                        <td>Username</td>
                                        <td>Email</td>
                                        <td>status</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <td>Aksi</td>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% set i = 1 %}
                                {% if user|length > 0 %}
                                {% for data in user %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{{ data.username }}</td>
                                        <td>{{ data.email }}</td>
                                        <td>{{ data.status }}</td>
                                        <td>
                                          {#   <a href="{{ path('irin_admin_edit',{id: data.id}) }}" title="Edit User" class="btn btn-primary btn-xs"><i class="lnr lnr-user"></i></a> #}
                                            <a href="{{ path('irin_admin_delete',{id: data.id}) }}" title="Delete User" class="btn btn-danger"><i class="lnr lnr-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>Tidak ada data</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}